@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213, 200, 182);
}

nav {
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 6rem;
    background-color: black;
    color: white;
}

.brand img {
    width: 4rem;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li {
    padding: 1rem;
    
}

.container {
    min-height: 74vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 2rem auto;
    width: fit-content;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;

}
.container h1
{
    position: relative;
    left: 42rem;
    margin-top: 1rem;
}

.bottom {
    position: sticky;
    height: 5rem;
    background-color: rgb(226, 36, 52);
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}


.icons i {
    cursor: pointer;
    margin-right: 0.2rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem ;
}

#Bar {
    width: 70vw;
    cursor: pointer;
}

.songItem {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(31, 25, 25);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
    margin-left: 25rem;

}

.songItem span {
    margin: 1rem;
    border-radius: 2rem;
}

.timestamp {
    margin: 0 2rem;
}

.timestamp i {
    cursor: pointer;
}

.songItemcontainer {
    margin-top: 2rem;
    margin-right: 4rem;
    
}
.songinfo {
    position: absolute;
    left: 14vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    margin-top: 1.5rem;
  }
  
  .songinfo img {
    margin-right: 1rem; 
    opacity: 0;
    transition: opacity 1s ease;

  }
  
.songItem img{
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
}
.songItemPlay
{
    margin-left:2rem;
}